<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/create_style.css">
<title>Terabite Accout Creation</title>
</head>
<body ng-app="createApplication">
<div class="navigation"> 
  <!--__________NavigationBegin__________--> 
  
  <!--__________HomeBegin__________-->
  <div align="left" class="container"> <a href="/" class="btn btn-primary btn-small" > <span class="glyphicon glyphicon-home"></span> Home </a> 
    <!--__________HomeEnd__________--> 
    
    <!--__________SearchBegin__________--> 
    <a href="#" class="btn btn-primary btn-small"> <span class="glyphicon glyphicon-search"></span> Search </a> 
    <!--__________SearchEnd__________--> 
    
    <!--__________UserBegin__________--> 
    <a href="#" class="btn btn-primary btn-small"> <span class="glyphicon glyphicon-user"></span> User </a> 
    <!--__________UserEnd__________--> 
    
    <!--__________LogoutBegin__________--> 
    <a href="#" class="btn btn-primary btn-small"> <span class="glyphicon glyphicon-log-out"></span> Log out </a> 
    <!--__________LogoutEnd__________--> 
  </div>
  
  <!--__________NavigationEnd__________--> 
</div>
<div class="formControl" ng-controller="createController">
  <div class="splitleft-box"> 
    <!--__________Source for Avatar Image__________--> 
    <!--__________<img src="avatar.png" class="avatar">__________--> 
    
    <!--__________Form Begin__________-->
    <form>
      <!--__________Email Text__________-->
      <p>E-mail</p>
      <input type="text" name="e-mail" placeholder="Enter E-mail" ng-model="email">
      <!--__________Username Text__________-->
      <p>Username</p>
      <input type="text" name="username" placeholder="Enter Username" ng-model="username">
      <!--__________Password Text__________-->
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password" ng-model="pass">
      <!--__________Repeat Password Text__________-->
      <p>Repeat Password</p>
      <input type="password" name="password" placeholder="Re-enter Password" ng-model="repeat">
      <a href="/signin" class="hyperlink">Already a user? Log In</a> 
      <!--__________CheckEnd__________-->
      
    </form>
    <!--__________Form End__________--> 
    
    <!--__________LeftSideEnd__________--> 
  </div>
  <div class="splitright-box"> 
    <!--__________Source for Avatar Image__________--> 
    <!--__________<img src="avatar.png" class="avatar">__________--> 
    
    <!--__________Form Begin__________-->
    <form>
      <p> Are you an event Organizer?</p>
      <div>
        <input class="leftRadio" type="radio" id="eventOchoice1" name="radioBtn" value="true" ng-model="radio">
        <label for="eventOchoice1">Yes</label>
        <input class="rightRadio" type="radio" id="eventOchoice2" name="radioBtn" value="false" ng-model="radio">
        <label for="eventOchoice2">No</label>
      </div>
      <!--__________Email Text__________-->
      <p>Organization Name</p>
      <input type="text" name="event organizer name" id="orgName" placeholder="Enter Organization Name" ng-model="org">
      <!--__________Username Text__________--> 
      
      <!--__________CheckEnd__________-->
      
    </form>
    <!--__________Form End__________--> 
  </div>
  <div class="SubmitButton"> 
    <!--__________Submit Input (Button)__________-->
    <input type="submit" name="submit" value="Submit" ng-click="createUserAccount()">
  </div>
</div>

<!-- Scripts Begin --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> 
<script src="https://code.angularjs.org/1.4.3/angular.js"></script> 
<script src="../controllers/createController.js"></script>
</body>
</html>
