<!DOCTYPE html>
<html>
<head>
  <title>Terabite</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style type="text/css">
  @import url("../css/map_style.css");
  </style>
</head>
<body ng-app="homeApplication">
<div class="container" ng-controller="homeController">
  <div class="row">
    <!--__________HomeBegin__________-->&nbsp;
    <div align="left" class="container">
      <a href="/" id="home" class="btn btn-primary btn-small" > <span class="glyphicon glyphicon-home" ></span> Home </a>
      <a href="/account" id="user" class="btn btn-primary btn-small" style="display:none"> <span class="glyphicon glyphicon-user"></span> User </a>
      <a href="/signin" id="login" class="btn btn-primary btn-small" > <span class="glyphicon glyphicon-log-in"></span> Log in </a>
      <a href="/signup" id="signup" class="btn btn-primary btn-small" > <span class="glyphicon glyphicon-log-in"></span> Signup </a>
      <a href="/logout" id="logout" class="btn btn-primary btn-small" style="display:none"> <span class="glyphicon glyphicon-log-out"></span> Logout </a>
    </div>
  </div>
    <!--__________LogInEnd__________-->

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!--Nested row-->
          <div class="row">
            <div class="col-md-12">
              <!--__________Search Box__________-->
              <div class="input-group" id="searchBar">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
              </div>
              <div class="tableWrapper">
              <!--__________Table__________-->
              <table class="table table-striped table-hover">
                <!--__________Table Fields__________-->
                <tr>
                  <th>Organization</th>
                  <th>Event Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Favorite</th>
                </tr>
                <tr ng-repeat-start="event in events" class="row{{event._id}}-fav" ng-hide="!filterFound(event)">
                  <td ng-click="getDetails(event._id)">{{event.owner}}</td>
                  <td ng-click="getDetails(event._id)">{{event.name}}</td>
                  <td ng-click="getDetails(event._id)">{{event.date}}</td>
                  <td ng-click="getDetails(event._id)">{{event.time}}</td>
                  <td type="button" class="favbtn" ng-click="addFavorite(event)"><span class="glyphicon glyphicon-star"></span></td>
                </tr>
                <!-- Unfavorite Row -->
                <tr ng-repeat-start="dum in dummy" class="row{{event._id}}-unfav" ng-hide="!filterFound(event)" style="display:none">
                  <td ng-click="getDetails(event._id)">{{event.owner}}</td>
                  <td ng-click="getDetails(event._id)">{{event.name}}</td>
                  <td ng-click="getDetails(event._id)">{{event.date}}</td>
                  <td ng-click="getDetails(event._id)">{{event.time}}</td>
                  <td type="button" class="unfavbtn" ng-click="removeFavorite(event)"><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
                <!-- Deatiled Info Rows -->
                <tr ng-repeat-end ng-repeat="(key, value) in event" class="detailedInfo row{{event._id}}-details" ng-if="shouldRowExist(key)" ng-hide="!filterFound(event)" style="display:none">
                  <td colspan="1" class="detailedInfo">{{key.charAt(0).toUpperCase() + key.slice(1)}}</td>
                  <td colspan="4" class="detailedInfo">{{value}}</td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Map-->
    <h1>Map View</h1>

  <div id="map_canvas" ng-controller="homeController"  >
      <ui-gmap-google-map center="map.center" zoom="map.zoom">

      <ui-gmap-markers models="events"  idkey="'_id'" coords= "'coordinates'" icon="'icon'" >

          <ui-gmap-windows>
                          <div ng-non-bindable>
                            <h4>{{DetailEvent.name}}</h4>
                              <label>Date:</label><p>{{DetailEvent.date}}</p>
                              <label>Time:</label><p>{{DetailEvent.time}}</p>
                          </div>

              </ui-gmap-windows>

        </ui-gmap-markers>

      </ui-gmap-google-map>
  </div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGhc61sKIC1JFkUWukNgro8oytC-r8lgs&callback=initMap">
    </script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="../controllers/homeController.js"></script>
</body>
</html>
