/*__________Background Image Begin__________*/
body{
    margin: 0;
    padding: 0;
    background: url(Burger.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
/*__________Background Image End__________*/

/*__________Transparent Login Box Backgroung Begin__________*/
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
/*__________Transparent Login Box Backgroung End__________*/


/*__________Design Login Box Begin__________*/

/*__________Avatar Design Format__________*/
.avatar{
	/*__________Put iamge in circle__________*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    /*__________Iamge Vetical Position__________*/
    top: -50px;
    /*__________Iamge Horizontal Position__________*/
    left: calc(50% - 50px);
}

/*__________Formarting Position of "Login Here"__________*/
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

/*__________Formarting Text for <p> "Unsername & Password"__________*/
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/*__________Formarting Input Box Width & Bottom Spacing__________*/
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

/*__________Formarting Input Box__________*/
.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    /*__________User Input Text Format__________*/
    color: #fff;
    font-size: 16px;
}

/*__________Formarting Login Input Box__________*/
.login-box input[type="submit"]{
	/*__________Background Box Format__________*/
    border: none;
    outline: none;
    height: 40px;
    border-radius: 20px;
    background: #1c8adb;
    /*__________Text Format__________*/
    color: #fff;
    font-size: 18px;
}

/*__________Hovering over Login Input Box__________*/
.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

/*__________Formarting "Forget Password"__________*/
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

/*__________Hovering over "Forget Password"__________*/
.login-box a:hover{
    color: #39dc79;
}
/*__________Design Login Box End__________*/